.Main-Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.MyTeam-Box{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 355px;
    height: 199px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 32px;
}

.MyTeam-Header{
    margin-top: 20px;
    display: flex;
    height: 24px;
    gap: 217px;
}

.MyTeam-Header-Left{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.MyTeam-Header-Text{
    font-family: 'Pretendard-Bold';
    font-size: 20px;
    color: #38414D;

}

.MyTeam-Content {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 15px;
}

.MyTeam-Content::-webkit-scrollbar {
  height: 6px; /* 가로 스크롤바 두께 */
  display: none;
}

.MyTeam-Content::-webkit-scrollbar-track {
  background-color: transparent;
}

.MyTeam-Content::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 15px;
}




.MyTeam-Slider {
  display: flex;
  gap: 16px;
  scroll-snap-type: x mandatory;
  margin-left: 10px;
  margin-right: 10px;
  width: max-content;
}
/* .MyTeam-Slider.dragging {
  cursor: grabbing;
  user-select: none;
} */



.Team-Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 130px;
  height: 130px;
  background-color: #e0e0e0;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  scroll-snap-align: start;
  padding-left: 14px;
}

.Team-Name {
  font-family: 'Pretendard-Bold';
  font-size: 16px;
  margin-bottom: 13px;
  color: #000000;
}

.Team-Schedule {
  font-family: 'Pretendard-Medium';
  color: #000000;
  font-size: 14px;
}

.Team-Date {
  font-family: 'Pretendard-Light';
  color: #000000;
  font-size: 14px;
}


.idle-Quick-Record-Box{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 355px;
    height: 434px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-top: 25px;
    padding-bottom: 20px;
    overflow-y: auto;
    margin-bottom: 11px;

}

.idle-Quick-Record-Box::-webkit-scrollbar {
    width: 9px;
}

.idle-Quick-Record-Box-webkit-scrollbar-track {
    background-color: transparent;
    margin-top: 62px;
    margin-bottom: 62px;
}

.idle-Quick-Record-Box::-webkit-scrollbar-thumb {
    background-color: #424242;
    /* 스크롤바 색상 */
    border-radius: 15px;
    /* 스크롤바 모서리 둥글게 */
    /* border: 14px solid #D9D9D9; */
    /* 스크롤바를 오른쪽에서 떨어지게 하는 여백 */
}

.idle-Record-Header {
  width: 326.47px;
  display: flex;
  align-items: center;
  height: 24px;
  margin-top: 20px;  
}


.idle-Record-Header-Img{
    margin-right: 3px;
}

.idle-Record-Header-Text{
    font-family: 'Pretendard-Bold';
    font-size: 20px;
    color: #38414D;
}

.idle-Record-Voice-Box{
    width: 314px;
    height: 203px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 25px;
}




.idle-Voice-Header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10.18px;
    width: 314px;
    height: 53px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #35486D;
}

.idle-Voice-Header-Text{
    font-family: 'Pretendard-Medium';
    font-size: 20px;
    color: #FFFFFF;
}

.idle-Voice-Header-Img{
    margin-left: 18.35px;
}

.idle-Voice-Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 314px;
    min-height: 150px;
}

.idle-Voice-Content-Timer{
    margin-top: 16px;
    font-family: 'Pretendard-Bold';
    font-size: 24px;
}

.idle-Voice-Content-StartButton{
    width: 220px;
    height: 38px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 30px;
}

.Record-Voice-Summary{
    width: 314px;
    height: 176px;
    margin-top: 20px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-bottom: 20px;
}

.Record-Voice-Summary-Header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10.18px;
    width: 314px;
    height: 53px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #35486D;
}

.Record-Voice-Summary-Header-Text{
    font-family: 'Pretendard-Medium';
    font-size: 20px;
    color: #FFFFFF;
}

.Record-Voice-Summary-Header-Img{
    margin-left: 22.43px;
}

.Record-Voice-Summary-Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 314px;
    height: 150px;
    border-radius: 10px;
    overflow-y: auto;
}

.Voice-Summary{
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'Pretendard-Reqular';
    border-radius: 10px;
    padding-left: 18px;
    padding-right: 18px; /* 상하좌우 모두 들여쓰기 */
    padding-bottom: 12px;
    padding-top: 12px;
    box-sizing: border-box;
    resize: none;
}
.Voice-Summary::-webkit-scrollbar {
    width: 7px;
}

.Voice-Summary-webkit-scrollbar-track {
    background-color: transparent;
    margin-top: 62px;
    margin-bottom: 62px;
}

.Voice-Summary::-webkit-scrollbar-thumb {
    background-color: #424242;
    /* 스크롤바 색상 */
    border-radius: 15px;
    /* 스크롤바 모서리 둥글게 */
    /* border: 14px solid #D9D9D9; */
    /* 스크롤바를 오른쪽에서 떨어지게 하는 여백 */
}


.Voice-Summary ::placeholder {
    font-family: 'Pretendard-Reqular';
    font-size: 14px;
}

